@page "/access-denied"

<PageTitle>Brak wejścia</PageTitle>

<div class="mt-5 text-center">
    <h1 class="text-danger">Dostęp odrzucony</h1>
    <p class="lead">Nie masz uprawnień by wyświetlić tę stronę</p>
    <a href="/" class="btn btn-primary">Powrót</a>
</div>
